<% include layouts/header %>
<h2>Login Page</h2>
<p>
    Please Login with an Petcurean Administrator Account
</p>
<a href="auth/facebook" class="facebook">Login with Facebook</a>
<% include layouts/footer %>
